# MONGODB
MONGODB_URI = "mongodb+srv://USERNAME:PASSWORD@admincluster0.ugaby.mongodb.net/DB_NAME?retryWrites=true&w=majority&appName=adminCluster0"

# GOOGLE MAP KEY
NEXT_PUBLIC_GOOGLE_MAP_API_KEY =

# REDIS
# "rediss://default:UPSTASH_REDIS_REST_TOKEN@UPSTASH_REDIS_REST_URL:PORT_NUMBER" [** rediss for similar security as HTTPS **]
REDIS_URL =

# NextAuth secret string (atleast 32 characters long)
NEXTAUTH_SECRET = 'use [openssl rand -hex 32] to generate a 32 bytes value'
NEXTAUTH_URL = "http://localhost:3000"

# JWT
TOKEN_SECRET =
TOKEN_EXPIRATION_REMEMBERED = 10
TOKEN_EXPIRATION_NOT_REMEMBERED = 1

# NODEMAILER
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_MAIL=
SMTP_PASSWORD=

# AWS
NEXT_PUBLIC_AWS_ACCESS_KEY_ID =
NEXT_PUBLIC_AWS_SECRET_ACCESS_KEY =
NEXT_PUBLIC_AWS_REGION = "ap-south-1"
NEXT_PUBLIC_AWS_API_VERSION = "2010-12-01"
NEXT_PUBLIC_AWS_BUCKET_NAME="common-velzon-dashboard"

# UPPY FILES
NEXT_PUBLIC_UPPY_MAX_IMAGE_FILE_SIZE_MB = 10
NEXT_PUBLIC_UPPY_MAX_VIDEO_FILE_SIZE_MB = 50
NEXT_PUBLIC_UPPY_MAX_PDF_FILE_SIZE_MB = 20
NEXT_PUBLIC_UPPY_MAX_OTHER_FILE_SIZE_MB = 100

NEXT_PUBLIC_UPPY_RESTRICTED_FILES_COUNT = 10
NEXT_PUBLIC_UPPY_RESTRICTED_FILES_SIZE = 100
NEXT_PUBLIC_UPPY_PRESIGNED_URL_EXPIRES_IN_SECONDS = 600
NEXT_PUBLIC_DEBOUNCE_DELAY = 300

# SEEDER ADMIN USER INFO
ADMIN_EMAIL =
ADMIN_USERNAME =
ADMIN_PASSWORD =

# APP NAME IN META TITLE
NEXT_PUBLIC_META_APP_NAME =
NEXT_PUBLIC_DEFAULT_META_APP_NAME =
NEXT_PUBLIC_DEFAULT_META_APP_DESCRIPTION =

# Website URL
NEXT_PUBLIC_DOMAIN_URL =

